*.iml
.gradle/
.idea/
.kotlin/
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.DS_Store
*.log
*.hprof
.navigation/
*.jks
*.keystore
!debug.keystore
google-services.json
secrets.properties
.cxx/
*.orig
*.swp
*~
